POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=global_learn
PGDATA=/var/lib/postgresql/18/docker

REDIS_IP=localhost
REDIS_PORT=6379

PORT=5000

DATABASE_URL=postgresql://postgres:postgres@localhost:5434/global_learn
